{{ define "output" }}
output "{{ .Name }}" {
  value       = local.az.{{ .Name }}
  description = "{{ replace .Name "_" " " | title }}"
}
{{ end }}

{{ define "outputs" }}
output "unique-seed" {
  value = coalesce(var.unique-seed, local.random_safe_generation)
}

output "validation" {
  value = local.validation
}

output "prefix_safe" {
  value = local.prefix_safe
}

output "suffix_safe" {
  value = local.suffix_safe
}
output "suffix" {
  value = local.suffix
}


{{- range . }}
    {{- template  "output" .}}
{{- end }}

{{ end }}